# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Local solc output
/bin

# ABI / bytecode outputs (generated)
*.abi
*.bin

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Remix
.deps/
.states/
.remix/
